<div class="list-group">
    <div class="list-group-item d-flex justify-content-between align-items-center bg-light">
        <div class="d-flex w-100">
            <span class="fw-bold w-50">Nombre</span>
            <span class="fw-bold w-25 text-center">Precio</span>
            <span class="fw-bold w-25 text-center">Fecha</span>
        </div>
        <div class="invisible">
            <i class="bi bi-dash-circle text-danger"></i>
        </div>
    </div>
    @for (bill of bills; track $index) {
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex w-100">
                <span class="w-50">{{ bill.name }}</span>
                <span class="w-25 text-center">{{ bill.price }}€</span>
                <span class="w-25 text-center">{{ bill.date }}</span>
            </div>
            <div>
                <i class="bi bi-dash-circle text-danger"></i>
            </div>
        </div>
    }
</div>
