<!-- <div class="list-group">
    <div class="list-group-item d-flex justify-content-between align-items-center bg-light">
        <div class="d-flex w-100">
            <span class="fw-bold w-50">Nombre</span>
            <span class="fw-bold w-25 text-center">Categoría</span>
            <span class="fw-bold w-25 text-center">Precio</span>
        </div>
        <div class="invisible">
            <i class="bi bi-dash-circle text-danger"></i>
        </div>
    </div>
    @for (bill of bills; track $index) {
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex w-100">
                <span class="w-50">{{ bill[0] }}</span>
                <span class="w-25 text-center">{{ bill[1] }}</span>
                <span class="w-25 text-center">{{ bill[2] }}€</span>
            </div>
            <div>
                <i class="bi bi-dash-circle text-danger"></i>
            </div>
        </div>
    }
</div> -->

<table  datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="billsTable" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Precio</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        @for (bill of bills; track $index) {
            <tr>
                <td>{{ bill[0] }}</td>
                <td>{{ bill[1] }}</td>
                <td>{{ bill[2] }}€</td>
                <td>{{ bill[3] }}</td>
            </tr>
        }

    </tbody>
</table>
