<div class="d-flex justify-content-end mb-4">
    <span id="spanTotalTransactions">Total de transacciones: {{bills.length}}</span>
</div>

<div class="d-flex justify-content-between mb-3">
    <input type="text" class="form-control w-25" placeholder="Buscar..." #searchParams (keyup)="onSearch(searchParams.value)" />

    <select name="filtroFechas" id="filtroFechas" class="custom-select w-25" #filtroFechas (change)="selectChange(filtroFechas.value)">
        <option value="lastweek">Esta semana</option>
        <option value="last14days">Últimos 14 días</option>
        <option value="lastmonth" selected>Este mes</option>
        <option value="lastyear">Este año</option>
        <option value="all">Siempre</option>
    </select>
</div>

<table id="expenseTable" class="mb-2">
    <thead>
        <tr>
            <th class="pointer" (click)="sortBy('description')">Nombre</th>
            <th class="pointer" (click)="sortBy('category')">Categoría</th>
            <th class="pointer" (click)="sortBy('amount')">Precio</th>
            <th class="pointer" (click)="sortBy('date')">Fecha</th>
        </tr>
    </thead>
    <tbody>
        @for (bill of paginatedBills; track $index){
            <tr>
                <td>{{ bill.description }}</td>
                <td>{{ bill.category }}</td>
                <td>{{ bill.amount.toFixed(2) }}€</td>
                <td>{{ formatDate(bill.date) }}</td>
            </tr>
        }
            
    </tbody>
</table>
<div class="d-flex justify-content-center mb-2">
    <span>Página {{currentPage}} de {{totalPages}}</span>
</div>

<div class="d-flex justify-content-between">
    <button (click)="prevPage()" [disabled]="currentPage === 1" class="btn btnPagination">Anterior</button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="btn btnPagination">Siguiente</button>
</div>
