@if(this.loggedInUser)
{
  <div class="container border-1 border-dark-subtle rounded border mt-2">
    <h6>Bienvenid&#64; {{loggedInUser.userName}}</h6>
    <div class="p-4 d-flex justify-content-between">
      <div class="w-75 me-3">
        <app-item-form></app-item-form>
      </div>
      <div class="w-25">
        <app-ticket-manager></app-ticket-manager>
      </div>
    </div>
    <div class="p-4 d-flex justify-content-between">
      <div class="w-75 me-3">
        <app-last-bills></app-last-bills>
      </div>
      <div class="w-25 border-1 border-black rounded border mt-2 p-3">
        <div class="d-flex flex-column align-items-center">
          <p class="mb-2">Total de gastos</p>
          <span class="text-danger h4">{{this.total.toFixed(2)}}€</span>
        </div>
      </div>
    </div>
  </div>
}

