<form class="d-flex flex-column">
    <div class="row mb-3 w-100">
        <div class="col-md-8">
            <label for="item-name" class="form-label">Escribe el nombre del producto:</label>
            <input type="text" name="item-name" id="item-name" class="form-control">
        </div>
        <div class="col-md-2">
            <label for="item-price" class="form-label">Precio:</label>
            <input type="number" name="item-price" id="item-price" class="form-control">
        </div>
        <div class="col-md-2">
            <label for="item-quantity" class="form-label">Cantidad:</label>
            <input type="number" name="item-quantity" id="item-quantity" class="form-control">
        </div>
    </div>
    <button type="submit" class="btn btn-dark w-50 mx-auto">Añadir</button>
</form>